
/*general*/
.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FAF7F0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(171,768,361)'%3E%3Cstop offset='0' stop-color='%23FAF7F0'/%3E%3Cstop offset='1' stop-color='%23CDFCF6'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='597' height='497.5' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.06'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*imagen*/
.Loading {
  text-align: center;
}

.Loading-logo {
  height: 50vmin;
  pointer-events: none;
}

.Loading-header {
  background-color: #CDFCF6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/*banner*/
.Wheater {
  text-align:left;
  align-items: center;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav{
  background-color: #CDFCF6;

  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 2rem;
  font-style: oblique;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
  font-style: oblique;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}

.nav p {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  margin-right: 200px;
  margin-top: 25px;
  font-style: oblique;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
}

.nav a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav div {
  align-items: center;
}


/*POSTS*/
.entries-wrapper{
  width: 80vw;
  display: flex ;
  margin: 1rem auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*//background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cellipse fill='none' stroke-width='200' id='a' rx='600' ry='450'/%3E%3C/defs%3E%3Cg style='transform-origin:center'%3E%3Cg transform='' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%2327002B' href='%23a' transform='rotate(-60 0 0) scale(0.4)'/%3E%3Cuse stroke='%232b0d37' href='%23a' transform='rotate(-50 0 0) scale(0.5)'/%3E%3Cuse stroke='%232e1943' href='%23a' transform='rotate(-40 0 0) scale(0.6)'/%3E%3Cuse stroke='%2331244f' href='%23a' transform='rotate(-30 0 0) scale(0.7)'/%3E%3Cuse stroke='%23342f5a' href='%23a' transform='rotate(-20 0 0) scale(0.8)'/%3E%3Cuse stroke='%23363a65' href='%23a' transform='rotate(-10 0 0) scale(0.9)'/%3E%3Cuse stroke='%23394570' href='%23a' transform=''/%3E%3Cuse stroke='%233c507a' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%233f5b84' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%2344668e' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%23497297' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%234f7da0' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%235689a8' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%235e94b0' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%2367a0b8' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%2372abc0' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%237db7c8' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%2389c2cf' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%2395ced7' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%23a2d9de' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%23b0e5e6' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%23bef1ee' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%23CDFCF6' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");*/

.blog-entry{
  border: 1px solid #666;

  margin-top: 20px;


  background-color: #ffffff81;
  
  background-attachment: fixed;
  background-size: cover;
  margin-right: 1px;
  
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-top: 0;
  overflow: hidden;
  box-shadow: 5px 5px 5px #999;
  margin-bottom: 1rem;
  width: 30%;
  color:#000000;
  border-spacing: 100px;
}

.blog-entry img{
  object-fit: cover;
  width: 100%;
  object-position: center;
  padding: 1rem;
}

.blog-entry button{
  padding: .75rem;
  background-color: #333;
  color: white;
  border-radius: .25rem;
  align-self: end;
  border: none;
  cursor:pointer;
}

.main-wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
  float: left
}

form .form-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  color: black;
}

form .form-group input{
  height: 1.75rem;
  border: 1px solid #A0E9EC;
  border-radius: .5rem;
  margin-right:10px;
  margin-left:10px;
}

form .form-group Select{
  height: 1.75rem;
  border: 1px solid #A0E9EC;
  border-radius: .5rem;
  margin-right:10px;
  margin-left:10px;
}

form .form-group label{
  text-align: center;
  font-style: oblique;
  font-size: 110%;
  margin-top: 20px;
}

.form-wrapper{
  width: 320px;
  border: 10px dashed rgb(0, 0, 0);
  padding: 10px;
  margin: 20px;
  white-space: nowrap;
}


.blog-entry ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}


 /*cuadrado del post*/
.Formulario{
  padding-left: 15px;
  padding-right: 15px;
  margin-top:40px;
  margin-left:20px;
  margin-right:20px;                  
  width: 400px;
  height: 420px;
  background-color: #cdfcf6cf;
  border: #000000;
  border-radius: 20px;
  border-width: 5px;
  border-style: double; 
  background: linear-gradient(90deg, rgba(205,252,246,1) 35%, rgba(0,190,255,0.6365896700477065) 100%);

}

/*climas*/

.Clear{
  background-color: rgb(191, 207, 212);
  background-attachment: fixed;
  background-size: cover;
  image-rendering: url(https://nordicapis.com/wp-content/uploads/How-to-Build-an-API-Driven-Weather-App.png);
  background-image: url(https://nordicapis.com/wp-content/uploads/How-to-Build-an-API-Driven-Weather-App.png);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  
}


.Clouds{
  background-color: rgb(86, 90, 91);
  background-attachment: fixed;
  background-size: cover;
  image-rendering: uri();
  background-image: url("v1015-101a.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  
}



.Rain{
  background-color: rgb(75, 148, 179);
  background-attachment: fixed;
  background-size: cover;
  background-image: url("v1015-106a.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;

}


/*boton*/
.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn26 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}



.left {
  float: left;
  width: 80%;
  text-align: center;
}


.right {
  float: right;
  width: 17%;
  margin-top: 10px;
  position:absolute;
  right:25px;
  position: fixed;
}

.songsRanking{
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #ffffff7a;
  margin: 5px;
}

.izq{
  float: "left";
  width: 80%;
  margin-top: 10px;
  margin-left: 10px;
  color: black;
}

.der{
  float: "right";
  width: 20%;
  margin-top: 10px;
  color: black;
}

.rankingTitle{
  background: rgb(205,252,246);
  background: linear-gradient(90deg, rgba(205,252,246,1) 35%, rgba(0,190,255,0.6365896700477065) 100%);
  color:black;
  border-radius: 20px;
  padding: 10px;
  font-style: oblique;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  margin-top: 30px;
}

.SongLike {
  background: rgb(205,252,246);
  background: linear-gradient(90deg, rgba(205,252,246,1) 35%, rgba(0,190,255,0.6365896700477065) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:black;
  border-radius: 10px;
  padding: 10px;
}

.SongLike div {
  margin: 0 8px; /* agrega espacio entre los divs */
}


.bn1 {
  display: inline-block;
  padding: 0.5em 1em;
  border: 0.1em solid #ffffff;
  margin: 0 0.1em 0.1em 0;
  border-radius: 20px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.49);
}

.bn1:hover {
  color: #000000;
  background-color: #ffffff;
}


.rankingBox {
  background: rgb(205,252,246);
  background: linear-gradient(90deg, rgba(205,252,246,1) 35%, rgba(0,190,255,0.6365896700477065) 100%);
  color:black;
  border-radius: 10px;
  margin-top: 10px;
  padding: 2px;
  width: 100%;
  height: 300px;
  overflow: auto;

}

.rankingBox::-webkit-scrollbar {
  display: none;
}
